@charset "utf-8";


 body {
     margin: 0;
     padding: 0;
     
 }
 h1,h2,h3{
     margin-top: 0;
 }
 header { 
         width:1000px;
         margin: 0 auto;
         background-color: #ffcccc;
}

#wrapper {
         width: 1000px;
         margin: 0 auto;
         display: flex;
         justify-content: flex-start;
}         
#main {
         width: 70%;
         background-color: #ccffcc;
}
#menu {
         width: 30%;
         background-color: #ccccff;
}
 footer {
         width: 1000px;
         margin: 0 auto;
         background-color: #ffccff;
         
 }
    
